# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
.terraform.lock.hcl
# Dev tools & archives
*.zip
*.tar
*.tar.gz
sam-installation/
.terraform/
*.tfstate
*.tfstate.*
